
.error-term,
.error-amount,
.error-rate,
.error-type{
  color: hsl(4, 69%, 50%);
  font-size: 13px;
  margin-top: 8px;
  margin-bottom: 0px;
  display: none;

  opacity: 0;
  transition: opacity 0.3s ease, display 0s linear 0.3s;
}

.error-type{
  position: relative;
  bottom: 75px;
}

.error-activated{
  display: inline;
  opacity: 1;
  transition: opacity 0.3s ease;
}



.error-signe{   /* .currency,.years */
  background-color: hsl(4, 69%, 50%);
  color: white;
  border-color: hsl(4, 69%, 50%);

  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.error-input{         /*  */
  border-color: hsl(4, 69%, 50%);
  transition: border-color 0.3s ease;
}

