body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color:hsl(202, 86%, 94%);
  font-family: Plus Jakarta Sans, arial;
}




